@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaisei+Tokumin&display=swap");
/*
**********************************
***********RESET CSS************
**********************************
*/
*,
*::before, *::after {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: smooth;
  }
}
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-height: 100vh;
  background-color: var(--primacy-clr-light);
}

img {
  display: inline-block;
  max-width: 100%;
}

a, p, ul, li, label {
  text-decoration: none;
  list-style: none;
  line-height: 1.35rem;
  padding: 0;
}

figcaption {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.75rem;
}

/*
**********************************
***********VARIABLES************
**********************************
*/
:root {
  --ff-bangers: "Bangers", serif;
  --ff-barlow: "Barlow Condensed", serif;
  --ff-kaisei: "Kaisei Tokumin", serif;
  --letter-spacing: 0.09rem;
  --fc-light: #fff;
  --fc-black: black;
  --fs-2: 2rem;
  --fs-1: 1.2rem;
  --fs-08: 0.8rem;
  --primary-clr-red: #cc392b;
  --primacy-clr-light: #f2ebe8;
  --m-all-5: 5vw;
  --mb-5: 5vw;
}

/*
**********************************
***********GENERAL STYLING************
**********************************
*/
.p-all-2 {
  padding: 1vw;
}

.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
**********************************
***********HEADER************
**********************************
*/
.menu-mobile {
  display: flex;
  justify-content: space-between;
}

/*
**********************************
***********MENU BURGER************
**********************************
*/
.menu-desktop {
  display: none;
}

.menu-burger {
  cursor: pointer;
}
.menu-burger img.svg {
  transition: filter 0.3s ease;
}
.menu-burger:hover img {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)) brightness(1.2);
}

.burger-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 1000;
  padding: 20px;
  background: linear-gradient(to bottom, #cc392b, #231b19);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(-100%);
  transition: none;
}
.burger-menu.active {
  display: block;
}
.burger-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-bangers);
  height: 100%;
  font-size: var(--fs-2);
  margin-bottom: var(--mb-5);
}
.burger-menu ul li a {
  display: block;
  padding: 10px;
  color: var(--fc-light);
  transition: all 0.5s ease;
  margin-bottom: var(--mb-5);
}
.burger-menu ul li a:hover {
  background-color: var(--primary-clr-red);
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px;
  position: absolute;
  top: 15px;
  left: 0;
}

.menu-logo {
  height: 8vw;
  margin: 0 auto;
}

.close-menu {
  position: absolute;
  top: 0;
  left: 15px;
  font-size: 4rem;
  font-weight: bold;
  color: var(--fc-black);
  cursor: pointer;
  transition: transform 0.3s ease;
}
.close-menu:hover {
  transform: rotate(90deg);
}

/*
**********************************
***********FOOTER************
**********************************
*/
footer > p {
  margin-bottom: 1%;
  padding: 0 20px;
}

.flex {
  display: flex;
}
.flex a, .flex img {
  width: 100%;
  margin-right: 1.5vw;
  transition: all ease 0.3s;
}
.flex a:hover, .flex img:hover {
  background-color: #333;
}

.flex1 {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.copyright {
  text-align: center;
}
.copyright a {
  color: var(--fc-black);
  transition: all ease 0.3s;
  margin: 0 3vw;
}
.copyright a:hover {
  color: #cc392b;
}
.copyright p {
  margin-top: 0.5%;
  font-weight: 700;
}

/*
**********************************
***********LOGIN************
**********************************
*/
.connexion {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.connexion h1 {
  font-family: var(--ff-bangers);
  letter-spacing: var(--letter-spacing);
  margin-bottom: 1.5rem;
}
.connexion input {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--fc-light);
  padding: 10px;
  color: black;
  margin-bottom: var(--mb-5);
}
.connexion input::-moz-placeholder {
  color: rgba(51, 51, 51, 0.4431372549);
  font-family: var(--ff-barlow);
  font-weight: 400;
}
.connexion input::placeholder {
  color: rgba(51, 51, 51, 0.4431372549);
  font-family: var(--ff-barlow);
  font-weight: 400;
}
.connexion button {
  background-color: #cc392b;
  color: white;
  padding: 10px 60px;
  border-radius: 15px;
  cursor: pointer;
  font-family: var(--ff-bangers);
  letter-spacing: var(--letter-spacing);
  transition: all ease 0.3s;
}
.connexion button:hover {
  background-color: #cc1606;
}

#img-connexion {
  display: none;
}
#img-connexion img {
  max-width: 50%;
}

/*
**********************************
*************REGISTER*************
**********************************
*/
#img-subscrire {
  max-width: 90%;
  display: none;
}

/*
**********************************
*************SLIDER HERO*************
**********************************
*/
.carousel {
  position: relative;
  overflow: hidden;
  height: 40vh;
}

.carousel-wrapper {
  display: flex;
  height: 100%;
}

.carousel-item {
  font-family: var(--ff-bangers);
  letter-spacing: var(--letter-spacing);
  color: var(--fc-light);
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-clr-red);
  font-size: 1.4rem;
  text-align: center;
}
.carousel-item p {
  margin-bottom: var(--mb-5);
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  padding: 8px;
  z-index: 1;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-flex;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.custom-btn.btn-green {
  background: #b3b34e;
  padding: 0;
  border: none;
}
.custom-btn.btn-green span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.custom-btn.btn-green span:hover {
  color: #fff;
}
.custom-btn.btn-green span:hover:before, .custom-btn.btn-green span:hover:after {
  transition: all 0.3s ease;
}
.custom-btn.btn-green span:before, .custom-btn.btn-green span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #231b19;
  transition: all 0.3s ease;
}
.custom-btn.btn-green span:before {
  width: 2px;
  height: 0%;
}
.custom-btn.btn-green span:after {
  width: 0%;
  height: 2px;
}
.custom-btn.btn-green span:hover:before {
  height: 100%;
}
.custom-btn.btn-green span:hover:after {
  width: 100%;
}
.custom-btn.btn-green:before, .custom-btn.btn-green:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #231b19;
  transition: all 0.3s ease;
}
.custom-btn.btn-green:before {
  height: 0%;
  width: 2px;
}
.custom-btn.btn-green:after {
  width: 0%;
  height: 2px;
}
.custom-btn.btn-green:hover {
  background: #b3b34e;
  box-shadow: none;
}
.custom-btn.btn-green:hover:before {
  height: 100%;
}
.custom-btn.btn-green:hover:after {
  width: 100%;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.slider .slider-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}
.slider .category {
  min-width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.slider .category h2 {
  text-align: center;
}
.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 2rem;
  z-index: 100;
}
.slider button.prev {
  left: 10px;
}
.slider button.next {
  right: 10px;
}

.category-slider {
  margin: 20% 3%;
}
.category-slider h2 {
  text-align: justify;
  margin: 8% 3%;
  font-family: var(--ff-bangers);
  letter-spacing: var(--letter-spacing);
}
.category-slider .slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.category-slider .slider .slider-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}
.category-slider .slider .manga {
  position: relative;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  flex: 0 0 33.3333333333%;
  box-sizing: border-box;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  font-family: var(--ff-barlow);
  color: var(--fc-black);
  font-size: var(--fs-08);
}
.category-slider .slider .manga a {
  color: var(--fc-black);
  font-size: var(--fs-1);
}
.category-slider .slider .manga .heart {
  position: absolute;
}
.category-slider .slider .manga .heart img {
  width: 8vw;
  height: 8vw;
}
.category-slider .slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 2rem;
  z-index: 100;
}
.category-slider .slider button.prev {
  left: 10px;
}
.category-slider .slider button.next {
  right: 10px;
}
.category-slider .slider button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#our-fav div:first-child {
  display: flex;
  padding: 10px;
  font-family: var(--ff-bangers);
  letter-spacing: var(--letter-spacing);
}
#our-fav div:first-child h2 {
  margin: var(--m-all-5);
}
#our-fav .bubble-fav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  padding: 10px 20px;
}
#our-fav .bubble-fav a {
  color: #cc392b;
}
#our-fav .bubble-fav a:hover {
  color: #cc1606;
}
#our-fav .bubble-fav h3 {
  font-family: var(--ff-bangers);
  letter-spacing: var(--letter-spacing);
  margin-bottom: var(--mb-5);
}
#our-fav .bubble-fav hr {
  margin-bottom: var(--mb-5);
  background-color: black;
  height: 1px;
}
#our-fav .bubble-fav p {
  font-family: var(--ff-barlow);
}
#our-fav .bubble-fav figure {
  padding: 10px 20px;
}

/*
**********************************
*********MEDIA QUERIES************
**********************************
*/
@media (min-width: 600px) {
  /*
  **********************************
  ***********LOGIN/REGISTER************
  **********************************
  */
  #img-connexion {
    display: block;
    width: 40vw;
  }
  .connexion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .form-container {
    width: auto;
  }
  .form-container h1 {
    font-size: 1.5rem;
  }
  .form-container input,
  .form-container button {
    font-size: 1.5rem;
    margin-bottom: 2vh;
  }
  #img-subscrire {
    display: block;
    width: 60vw;
  }
  /*
  *******************************
  ***********contact***********
  *******************************
  */
  .formulaire {
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  /*
  **********************************
  ***********LOGIN/REGISTER************
  **********************************
  */
  #img-connexion {
    display: block;
    width: 40vw;
  }
  .connexion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .form-container {
    width: auto;
  }
  .form-container h1 {
    font-size: 1.5rem;
  }
  .form-container input,
  .form-container button {
    font-size: 1rem;
    margin-bottom: 2vh;
  }
  #img-subscrire {
    display: block;
    width: 60vw;
  }
  /*
  *******************************
  ***********contact***********
  *******************************
  */
  .formulaire {
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  /*
  **********************************
  ***********LOGIN/REGISTER************
  **********************************
  */
  #img-connexion {
    display: block;
    width: 40vw;
  }
  .connexion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .form-container {
    width: auto;
  }
  .form-container h1 {
    font-size: 1.5rem;
  }
  .form-container input,
  .form-container button {
    font-size: 1.5rem;
    margin-bottom: 2.5vh;
  }
  #img-subscrire {
    display: block;
    width: 60vw;
  }
  /*
  *******************************
  ***********contact***********
  *******************************
  */
  .formulaire {
    margin: 0 auto;
    max-width: 24px;
  }
  /*
  **********************************
  **************HEADER**************
  **********************************
  */
  .menu-mobile {
    display: none;
  }
  .menu-mobile.active {
    display: none;
  }
  .menu-desktop {
    display: block;
  }
  .menu-desktop figure:nth-of-type(1) a img {
    width: 7vw;
  }
  .menu-desktop figure:nth-of-type(2) {
    display: flex;
    flex-direction: row;
  }
  .menu-desktop figure:nth-of-type(2) img {
    width: 2.4vw;
  }
  .menu-desktop figure:nth-of-type(3) a img {
    width: 5vw;
    height: 5vw;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
  }
  .menu-desktop figure:nth-of-type(3) a img:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.1);
  }
  .menu-desktop div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .menu-desktop .profile {
    position: relative;
  }
  .menu-desktop .profile .dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    z-index: 10;
  }
  .menu-desktop .profile .dropdown li {
    padding: 8px 12px;
    font-family: var(--ff-bangers);
    letter-spacing: var(--letter-spacing);
  }
  .menu-desktop .profile .dropdown li:hover {
    background-color: #f0f0f0;
  }
  .menu-desktop .profile .dropdown li a {
    color: var(--fc-black);
  }
  .menu-desktop .profile.active .dropdown {
    display: block;
  }
  .menu-desktop input {
    color: #333;
    width: 22%;
    height: 5vh;
    padding: 0 10px;
    font-size: 1.2rem;
    border: 1px solid #979797;
    font-family: var(--ff-barlow);
    border-radius: 50px;
    transition: all ease 0.8s;
  }
  .menu-desktop input:focus {
    border: 1px solid #cc392b;
    border-radius: 50px;
    width: 100%;
    outline: none;
  }
  /*
  **********************************
  ***********DASHBOARD************
  **********************************
  */
  div.headdashboard {
    height: 50vh;
  }
}
@media (min-width: 1440px) {
  /*
  **********************************
  ***********LOGIN/REGISTER************
  **********************************
  */
  #img-connexion {
    display: block;
    width: 40vw;
  }
  .connexion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .form-container {
    width: auto;
  }
  .form-container h1 {
    font-size: 2rem;
  }
  .form-container input,
  .form-container button {
    font-size: 1.5rem;
    margin-bottom: 2.5vh;
  }
  #img-subscrire {
    display: block;
    width: 60vw;
  }
  /*
  **********************************
  ***********DASHBOARD************
  **********************************
  */
  div.headdashboard {
    height: 70vh;
  }
}
/*
**********************************
***********CONTACT PAGE************
**********************************
*/
.formulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #A2EEFB;
  border-radius: 10px;
  outline: 3px solid #ffffff;
  max-width: 600px;
  margin: 20px;
}
.formulaire h2 {
  text-align: center;
  font-family: var(--ff-bangers);
  margin: 1%;
  color: #ffffff;
  -webkit-text-stroke: 2px red;
}
.formulaire input, .formulaire textarea {
  margin: 1%;
  padding: 1%;
  border-radius: 10px;
  border: none;
  background-color: #F5F5F5;
  outline: 1px solid #B3B34E;
}
.formulaire .button {
  margin: 1%;
  padding: 1%;
  border-radius: 10px;
  border: none;
  background-color: #FCC8E1;
  color: #ffffff;
  font-family: var(--ff-bangers);
  cursor: pointer;
  transition: all ease 0.3s;
}
.formulaire .button:hover {
  background-color: #cc1606;
}

/*
**********************************
***********DASHBOARD************
**********************************
*/
.headdashboard {
  height: 30vh;
  background: url(../img/dashboard_desktop.svg) no-repeat center center/cover;
}

.dashboard {
  /* filepath: /C:/wamp64/www/nihon/public/asset/css/styles.scss */
}
.dashboard table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
.dashboard th, .dashboard td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
.dashboard th {
  background-color: #cc392b;
  color: white;
}
.dashboard tr:nth-child(even) {
  background-color: #f2f2f2;
}
.dashboard .color-button {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}
.dashboard .color-button:hover {
  opacity: 0.8;
}
.dashboard label {
  margin: 0 4%;
}
.dashboard h1 {
  font-family: var(--ff-bangers);
  letter-spacing: var(--letter-spacing);
}
.dashboard .center {
  display: flex;
  justify-content: center;
  margin: 4% 0;
}
.dashboard img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.dashboard .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard .button-container .button {
  align-items: center;
  margin: 1%;
  padding: 1%;
  border-radius: 10px;
  border: none;
  background-color: #FCC8E1;
  color: #0e0e0e;
  font-family: var(--ff-bangers);
  cursor: pointer;
  transition: all ease 0.3s;
}
.dashboard .button-container .button:hover {
  background-color: #cc1606;
}
.dashboard .popup {
  display: none; /* Masquer par défaut */
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.dashboard .overlay {
  display: none; /* Masquer par défaut */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.dashboard .popup.active,
.dashboard .overlay.active {
  display: block; /* Afficher lorsque actif */
}

/*
**********************************
***********LOANS HISTORY************
**********************************
*//*# sourceMappingURL=styles.css.map */