@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaisei+Tokumin&display=swap");
/*------------------------------RESET ------------------------------*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: smooth;
  }
}
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-height: 100vh;
  padding: 2vw;
  background-color: #F2EBE8;
}

.font-bangers {
  font-family: "Bangers", serif;
}

.font-barlow-condensed {
  font-family: "Barlow Condensed", serif;
}

.font-kaisei-tokumin {
  font-family: "Kaisei Tokumin", serif;
}

.button {
  background-color: #CC392B;
  color: white;
  padding: 10px 60px;
  border-radius: 15px;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.connexion {
  text-align: center;
}

.backform {
  background-color: #FFFFFF;
  font-weight: bold;
  padding: 10px;
  color: black;
}

input {
  border-radius: 10px;
}

input::-moz-placeholder {
  color: black;
}

input::placeholder {
  color: black;
}

h1 {
  font-family: bangers;
}

.footer {
  display: flex;
}

.clickhere {
  color: #CC392B;
}

.mb-10 {
  margin: 10px;
}

.flex {
  display: flex;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}

.copyright {
  text-align: center;
}

.connexion {
  display: flex;
  justify-content: center;
  align-items: center;
}

#img-connexion {
  display: none;
}

#img-connexion img {
  max-width: 50%;
}

#img-subscrire {
  max-width: 90%;
}

#img-subscrire {
  display: none;
}

/* Tablette en portrait*/
@media (min-width: 600px) {
  #img-connexion {
    display: block;
    width: 40vw;
  }
  .connexion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .form-container {
    width: auto;
  }
  .form-container h1 {
    font-size: 1.5rem;
  }
  .form-container input, .form-container button {
    font-size: 1.5rem;
    margin-bottom: 2vh;
  }
  #img-subscrire {
    display: block;
    width: 60vw;
  }
}
/*Tablette en paysage*/
@media (min-width: 768px) {
  #img-connexion {
    display: block;
    width: 40vw;
  }
  .connexion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .form-container {
    width: auto;
  }
  .form-container h1 {
    font-size: 1.5rem;
  }
  .form-container input, .form-container button {
    font-size: 1rem;
    margin-bottom: 2vh;
  }
  #img-subscrire {
    display: block;
    width: 60vw;
  }
}
/* Écran d'ordinateur portable*/
@media (min-width: 1024px) {
  #img-connexion {
    display: block;
    width: 40vw;
  }
  .connexion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .form-container {
    width: auto;
  }
  .form-container h1 {
    font-size: 1.5rem;
  }
  .form-container input, .form-container button {
    font-size: 1.5rem;
    margin-bottom: 2.5vh;
  }
  #img-subscrire {
    display: block;
    width: 60vw;
  }
}
/*Grand écran de PC / TV*/
@media (min-width: 1440px) {
  #img-connexion {
    display: block;
    width: 40vw;
  }
  .connexion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .form-container {
    width: auto;
  }
  .form-container h1 {
    font-size: 2rem;
  }
  .form-container input, .form-container button {
    font-size: 1.5rem;
    margin-bottom: 2.5vh;
  }
  #img-subscrire {
    display: block;
    width: 60vw;
=======
  background-color: var(--primacy-clr-light);
}

img {
  display: inline-block;
  max-width: 100%;
}

a, p, ul, li, label {
  text-decoration: none;
  list-style: none;
  line-height: 1.35rem;
  padding: 0;
}

figcaption {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.75rem;
}

/*--------------------- VARIABLES--------------------*/
:root {
  --ff-bangers: "Bangers", serif;
  --ff-barlow: "Barlow Condensed", serif;
  --ff-kaisei: "Kaisei Tokumin", serif;
  --fc-light: #fff;
  --fc-black: black;
  --fs-2: 2rem;
  --fs-1: 1.2rem;
  --fs-08: .8rem;
  --primary-clr-red: #cc392b;
  --primacy-clr-light: #F2EBE8;
  --m-all-5: 5vw;
  --mb-5: 5vw;
}

/*------------------GENERAL STYLING----------------*/
.p-all-2 {
  padding: 2vw;
}

/*------------------HEADER----------------*/
.menu-mobile {
  display: flex;
  justify-content: space-between;
}

/*------------------SLIDER----------------*/
.carousel {
  position: relative;
  overflow: hidden;
  height: 40vh;
}

.carousel-wrapper {
  display: flex;
  height: 100%;
}

.carousel-item {
  font-family: var(--ff-bangers);
  color: var(--fc-light);
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-clr-red);
  font-size: 1.4rem;
  text-align: center;
}
.carousel-item p {
  margin-bottom: var(--mb-5);
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  padding: 8px;
  z-index: 1;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-flex;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.custom-btn.btn-green {
  background: #b3b34e;
  padding: 0;
  border: none;
}
.custom-btn.btn-green span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.custom-btn.btn-green span:hover {
  color: #fff;
}
.custom-btn.btn-green span:hover:before, .custom-btn.btn-green span:hover:after {
  transition: all 0.3s ease;
}
.custom-btn.btn-green span:before, .custom-btn.btn-green span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #231b19;
  transition: all 0.3s ease;
}
.custom-btn.btn-green span:before {
  width: 2px;
  height: 0%;
}
.custom-btn.btn-green span:after {
  width: 0%;
  height: 2px;
}
.custom-btn.btn-green span:hover:before {
  height: 100%;
}
.custom-btn.btn-green span:hover:after {
  width: 100%;
}
.custom-btn.btn-green:before, .custom-btn.btn-green:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #231b19;
  transition: all 0.3s ease;
}
.custom-btn.btn-green:before {
  height: 0%;
  width: 2px;
}
.custom-btn.btn-green:after {
  width: 0%;
  height: 2px;
}
.custom-btn.btn-green:hover {
  background: #b3b34e;
  box-shadow: none;
}
.custom-btn.btn-green:hover:before {
  height: 100%;
}
.custom-btn.btn-green:hover:after {
  width: 100%;
}

.menu-desktop {
  display: none;
}

.menu-burger {
  cursor: pointer;
}
.menu-burger img.svg {
  transition: filter 0.3s ease;
}
.menu-burger:hover img {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)) brightness(1.2);
}

.burger-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 1000;
  padding: 20px;
  background: linear-gradient(to bottom, #CC392B, #231B19);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(-100%);
  transition: none;
}
.burger-menu.active {
  display: block;
}
.burger-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-bangers);
  height: 100%;
  font-size: var(--fs-2);
  margin-bottom: var(--mb-5);
}
.burger-menu ul li a {
  display: block;
  padding: 10px;
  color: var(--fc-light);
  transition: all 0.5s ease;
  margin-bottom: var(--mb-5);
}
.burger-menu ul li a:hover {
  background-color: var(--primary-clr-red);
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px;
  position: absolute;
  top: 15px;
  left: 0;
}

.menu-logo {
  height: 8vw;
  margin: 0 auto;
}

.close-menu {
  position: absolute;
  top: 0;
  left: 15px;
  font-size: 4rem;
  font-weight: bold;
  color: var(--fc-black);
  cursor: pointer;
  transition: transform 0.3s ease;
}
.close-menu:hover {
  transform: rotate(90deg);
}

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.slider .slider-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}
.slider .category {
  min-width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.slider .category h2 {
  text-align: center;
}
.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 2rem;
  z-index: 100;
}
.slider button.prev {
  left: 10px;
}
.slider button.next {
  right: 10px;
}

.category-slider {
  margin: 20% 3%;
}
.category-slider h2 {
  text-align: justify;
  margin: 8% 3%;
  font-family: var(--ff-bangers);
}
.category-slider .slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.category-slider .slider .slider-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}
.category-slider .slider .manga {
  position: relative; /* Important pour positionner l'élément à l'intérieur */
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  flex: 0 0 33.3333333333%;
  box-sizing: border-box;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  font-family: var(--ff-barlow);
  color: var(--fc-black);
  font-size: var(--fs-08);
}
.category-slider .slider .manga a {
  color: var(--fc-black);
  font-size: var(--fs-1);
}
.category-slider .slider .manga .heart {
  position: absolute;
}
.category-slider .slider .manga .heart img {
  width: 8vw;
  height: 8vw;
}
.category-slider .slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 2rem;
  z-index: 100;
}
.category-slider .slider button.prev {
  left: 10px;
}
.category-slider .slider button.next {
  right: 10px;
}
.category-slider .slider button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/*
**********************************
*********MEDIA QUERIES************
**********************************
*/
@media (min-width: 1024px) {
  /*
  **********************************
  ***********MENU BURGER************
  **********************************
  */
  .menu-mobile {
    display: none;
  }
  .menu-mobile.active {
    display: none;
  }
  .menu-desktop {
    display: block;
  }
  .menu-desktop figure, .menu-desktop img {
    width: 25%;
  }
}/*# sourceMappingURL=styles.css.map */